<%= form_for(@order_summary) do |f| %>
  <% if @order_summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_summary.errors.count, "error") %> prohibited this order_summary from being saved:</h2>

      <ul>
      <% @order_summary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 

  <div class="field">
    <%= f.label :order_date %><br>
    <span class="datetime">
    <%= f.date_select :order_date, order: [:month, :day, :year], include_blank: true %>
    </span>
</div>
  <div class="field">
    <%= f.label :ship_date %><br>
    <span class="datetime">
    <%= f.date_select :ship_date, order: [:month, :day, :year], include_blank: true %>
    </span>
  </div>
  <div class="field">
    <%= f.label :total_cost %><br>
    <%= f.text_field :total_cost, :value => (number_with_precision(f.object.total_cost, :precision => 2) || 0) %>
  </div>

  <div class="actions">
    <% if !f.object.new_record? %>
    <%= f.submit "Update", class: "button small" %>
    <%else%>
    <%= f.submit "Submit", class: "button small" %>
    <%end%>
    
  </div>
<% end %>
