<% if logged_in_admin? %>
<%= render 'order_filter' %>
<%end%>
<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Order date</th>
      <th>Ship date</th>
      <th>Total cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_summaries.each do |order_summary| %>
      <tr>
        <td><%= order_summary.customer.name %></td>
        <td><%= order_summary.order_date.strftime("%m/%d/%y") %></td>
        <td><%= order_summary.ship_date ? order_summary.ship_date.strftime("%m/%d/%y") : "N/S" %></td>
        <td><%= number_to_currency(order_summary.total_cost) %></td>
        <td><%= link_to 'Show', order_summary %></td>
        <td><%= link_to 'Edit', edit_order_summary_path(order_summary) %></td>
        <td><%= link_to 'Destroy', order_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


