<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2>Please fix the <%= pluralize(@customer.errors.count, "error") %> below:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="field small-6 columns">
    <%= f.label :name%>
    <%= f.text_field :name %>
  </div>
</div>

<div class="row">
  <div class="field small-6 columns">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
</div>
<div class="row">
  <div class="field small-6 columns">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
</div>
<div class="row">
<div class="field small-6 columns">
  <%= f.label :password %><br>
  <%= f.password_field :password %>
  </div>
</div>
<div class="row">
  <div class="field small-6 columns">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
</div>
<div class="row">
  <div class="field small-6 columns">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
</div>
<div class="row">
  <div class="field small-6 columns">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
</div>
<div class="row">
  <div class="field small-6 columns">
    <%= f.label :state_province %><br>
    <%= f.text_field :state_province %>
  </div>
</div>
<div class="row">
  <div class="field small-6 columns">
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %>
  </div>
</div>
<div class="row">
  <div class="field small-6 columns">
    <%= f.label :country %><br>
    <%= f.country_code_select :country, ["", ""] %>
  </div>
</div>
  <div class="actions">
    <% if f.object.new_record? %>
    <%= f.submit "Create Account", class: "button small" %>
    <%else%>
    <%= f.submit "Update Account", class: "button small" %>
    <%end%>
  </div>
<% end %>
