<h4>Credit Card and Shipping Information</h4>
<p>
  <strong>Card number:</strong>
  <%= @checkout.card_number %>
</p>

<p>
  <strong>Name on card:</strong>
  <%= @checkout.name_on_card %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @checkout.expiration_date %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @checkout.shipping_address %>
</p>

<p>
  <strong>Shipping city:</strong>
  <%= @checkout.shipping_city %>
</p>

<p>
  <strong>Shipping state or province:</strong>
  <%= @checkout.shipping_state_or_province %>
</p>

<p>
  <strong>Shipping postal code:</strong>
  <%= @checkout.shipping_postal_code %>
</p>
<p>
  <strong>Shipping Country:</strong>
  <%= code_to_country(@checkout.shipping_country) %>
</p>
<br />



