
<div class="row">
 
<%= form_for(@cart) do |f|%>
 <div class="small-4 columns"%>
<%= text_field_tag(:quantity_to_add) %>
<%= hidden_field_tag(:item_id, @item.id) %>
   <%= hidden_field_tag(:customer_id, !current_customer.nil? ? current_customer.id : -1 ) %>
  </div>
  <div class="small-8 columns">
<%= submit_tag("Add to Cart", class: "button small") %>
  </div>


<%end%>
</div>