<%= render 'item_filter' %>
<div class="row">
  <% @items.each do |item| %>
            <div class="large-4 small-6 columns" style="float:left;">
              <% if !item.images.first.nil? %>
              <%= link_to image_tag(item.images.first.img.url(:medium), alt: item.title), item %>
              <%else%>
              <%= link_to image_tag("http://placehold.it/300x300&text=Thumbnail", alt: item.title), item %>
              <%end%>
 
              <div class="panel">
                <h6><%= link_to truncate(item.title, length: 19, omission: '...'), item %></h6>
               
                <h6 class="subheader"><%= number_to_currency(item.unit_price) %>/each</h6>
              </div>
            </div>
 
  <%end%>
            </div>
         