<%= nested_form_for(@item, :html => { :multipart => true }) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="field small-6 columns">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    </div></div>
  <div class="row">
      <div class="field small-6 columns">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
    </div></div>
  <div class="row">
      <div class="field small-6 columns">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
    </div></div>
  <div class="row">
      <div class="field small-6 columns">
    <%= f.label :unit_price %><br>
    <%= f.text_field :unit_price %>
    </div></div>
<%= f.fields_for :inventory do |i| %>
<div class="row">
      <div class="field small-6 columns">
        <%= i.label :inventory_amount %><br>
        <%= i.text_field :inventory_amount %>
    </div></div>
<%end%>
<p>Add Images to this item:</p>
  <%= file_field_tag "images[]", type: :file, multiple: true %>


<% if !f.object.images.empty? && !f.object.new_record? %>
<p>Current Images: </p>
<% f.object.images.each do |i| %>
<%= image_tag(i.img.url(:thumb)) %> <%= link_to "Delete", items_delete_image_path(image_id: i) %><br />

<%end%>
<br />
<br />

<%end%>

  <div class="field">
        <%= f.submit class: "button small" %>

  </div>
<% end %>
