<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="field small-6 columns">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    </div></div>
  <div class="row">
      <div class="field small-6 columns">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
    </div></div>
  <div class="row">
      <div class="field small-6 columns">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
    </div></div>
  <div class="row">
      <div class="field small-6 columns">
    <%= f.label :unit_price %><br>
    <%= f.text_field :unit_price %>
    </div></div>
  <div class="field">
        <%= f.submit class: "button small" %>

  </div>
<% end %>
