<%= provide(:title, @item.title) %>


        <div class="row">
        <div class="large-6 columns">
          <% if !@images.empty? %>
          <%= image_tag(@images.first.img.url)%>
          <br /> More Images...
          <%else%>
          <img src="http://placehold.it/300x400">
          
          <%end%>
        </div>
        <div class="large-6 columns">
          <h3><%= @item.title %></h3>
          <h4><%= number_to_currency(@item.unit_price) %></h4>
<br />          
          <strong><%= @inventory %> left in stock!</strong><br /><p></p>
          
  
          <%= render "add_to_cart" %>


        </div>
        </div>

        <div class="row">
        <hr/>
        <div class="large-12 columns">
          <h4>Description</h4>
          <p><%= @item.description %></p>
        
        </div>

        <div class="row">
        <hr>
        <div class="large-12 columns">
          <h4>You might also like:</h4>
          <img src="http://placehold.it/150x100&text=[img]">
          <img src="http://placehold.it/150x100&text=[img]">
          <img src="http://placehold.it/150x100&text=[img]">
          <img src="http://placehold.it/150x100&text=[img]">
        </div>
        </div>

<!-- if loggedin as an admin have an these buttons/links -->
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
