<%= provide(:title, @item.title) %>


        <div class="row">
        <div class="large-6 columns">
          <% if !@images.empty? %>
          <%= image_tag(@images.first.img.url(:medium))%>
          <br /> <a href="#" data-reveal-id="more_images"> More Images...</a>
          <%else%>
          <img src="http://placehold.it/300x300&text=[Image comming soon!]">
          
          <%end%>
        </div>
        <div class="large-6 columns">
          <h3><%= @item.title %></h3>
          <h4><%= number_to_currency(@item.unit_price) %></h4>
          
Rating:      
          <% if !@item.avg_review.nil? %>
          <span data-tooltip aria-haspopup="true" class="has-tip" title="<%=number_with_precision(@item.avg_review, precision: 2)%>/5 Stars!">
          <% @item.avg_review.round.times do %>
  <i class="fi-star"></i>
  <%end%>
            <%else%>
            No ratings yet
            <%end%>
          </span>  
          <br /> <br />
          <strong><%= @inventory || 0 %> left in stock!</strong><br /><p></p>
          
  
          <%= render "add_to_cart" %>


        </div>
        </div>

        <div class="row">
        <hr/>
        <div class="large-12 columns">
          <h4>Description</h4>
          <p><%= @item.description %></p>
        
        </div>

        <div class="row">
        <hr>
        <div class="large-12 columns">
          <h4>You might also like:</h4>
          <% @might_like.each do |m| %>
          <%= link_to image_tag(!m.images.first.nil? ? m.images.first.img.url(:small) : "http://placehold.it/120x120&text=[img]" ), m %>

          <%end%>
        </div>
        </div>
<div class="reviews">
  
  <%= render 'write_review' %>
  <hr />
  <%= render 'reviews' %>
          </div>

          <% if logged_in_admin? %>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
          <%end%>


<div id="more_images" class="reveal-modal" data-reveal>
  <h2><%= @item.title %> Images</h2>
  <% @item.images.each do |i| %>
  
  <%= image_tag(i.img.url(:medium))
 %>  &nbsp; <%end%>
  <a class="close-reveal-modal">&#215;</a>
</div>