<%= provide(:title, @item.title) %>


        <div class="row">
        <div class="large-6 columns">
          <img src="http://placehold.it/300x400"><br /> More Images...
        </div>
        <div class="large-6 columns">
          <h3><%= @item.title %></h3>
          <h4><%= number_to_currency(@item.unit_price) %></h4>
<br />          
<p>short description of product</p>
          
  
<!--           will be a form that will take a number to add to cart  -->
          <a href="#" class="small button">Add to Cart</a>

        </div>
        </div>

        <div class="row">
        <hr/>
        <div class="large-12 columns">
          <h4>Description</h4>
          <p><%= @item.description %></p>
        
        </div>

        <div class="row">
        <hr>
        <div class="large-12 columns">
          <h4>You might also like:</h4>
          <img src="http://placehold.it/150x100&text=[img]">
          <img src="http://placehold.it/150x100&text=[img]">
          <img src="http://placehold.it/150x100&text=[img]">
          <img src="http://placehold.it/150x100&text=[img]">
        </div>
        </div>

<!-- if loggedin as an admin have an these buttons/links -->
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
