<section class="top-bar-section">
               
              <ul class="right">
                <li class="divider"></li>
                <li>
                  <%= link_to "About", public_pages_about_path %>
                 
                </li>
                <li class="divider"></li>
                <li><a href="#">Gear</a></li>
                <li class="divider"></li>
                <li>
                  <a href="#">Sales</a>
                 
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Shop</a>
                </li>
                <li class="divider"></li>
                <% if !logged_in? %>
                <li class="has-dropdown">
                  <%= link_to "Register", new_customer_path %>
                  <ul class="dropdown">
                    <li><%= link_to "Log in", login_path %></li>
                  </ul>
                </li>
                <%else%>
                 <li class="has-dropdown">
                   <%= link_to "Account", edit_customer_path(current_customer) %>
                  <ul class="dropdown">
                    <li><%=link_to "Profile", edit_customer_path(current_customer) %></li>
                    <li><%= link_to "Cart", root_path %></li>
                    <li><%= link_to "Orders", root_path %></li>
                    <li><%= link_to "Log out", logout_path, method: "delete" %> </li>
                  </ul>
                </li>

                <%end%>
              </ul>
            </section>