<%= form_for(@item_review) do |f| %>
  <% if @item_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_review.errors.count, "error") %> prohibited this item_review from being saved:</h2>

      <ul>
      <% @item_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   
    <strong><%= !f.object.item.images.empty? ? image_tag(f.object.item.images.first.img.url(:small)) : image_tag("http://placehold.it/120x120&text=[Image]") %> <%= link_to f.object.item.title, f.object.item %></strong>
  </div>
  <div class="field">
    <div class="row">
      <div class="small-1 columns">
    <%= f.label :rating %><br>
        <%= f.text_field :rating %>
      </div>
      <div class="small-3 columns">
        <br />
         <br />
        
        <h4>/5</h4>
      </div>
      <div class="small-8 columns">
      </div>
    </div>
  </div>
  <div class="field">
     <div class="field">
    <div class="row">
      <div class="small-6 columns">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
        </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Update", class: "button small" %>
  </div>
<% end %>
