<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_review.item.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @item_review.rating %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @item_review.comments %>
</p>

<%= link_to 'Edit', edit_item_review_path(@item_review) %> |
<%= link_to 'Back', item_reviews_path %>
